<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-mapkit"
    version="1.0.0">

    <name>MapKit</name>
    <author>Salonhub, Niels Leenheer</author>
    <license>Apache</license>

    <asset src="www/map-close-button.png" target="img/map-close-button.png" />

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/MapKit.js" name="mapkit">
            <clobbers target="plugin.mapkit" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="MapKit">
                <param name="ios-package" value="MapKitView"/>
            </feature>
        </config-file>

        <framework src="MapKit.framework" />

        <header-file src="src/ios/AsyncImageView.h" />
        <header-file src="src/ios/CDVAnnotation.h" />
        <header-file src="src/ios/MapKit.h" />

        <source-file src="src/ios/AsyncImageView.m" />
        <source-file src="src/ios/CDVAnnotation.m" />
        <source-file src="src/ios/MapKit.m" />
    </platform>
</plugin>
